@model MovieStore.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}




<div class="login-container">
    <h3>Login</h3>
    <hr />
    <form asp-action="Login">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <input type="hidden" name="returnURL" value="@Model.ReturnURL" />

            <label asp-for="EmailAddress" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <i class="bi bi-envelope icon"></i>
                </div>
                <input asp-for="EmailAddress" class="form-control" />
            </div>
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <i class="bi bi-lock icon"></i>
                </div>
                <input asp-for="Password" class="form-control" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="button-container">
            <a asp-action="Register" asp-controller="Account" class="btn btn-outline-primary register-button">Register</a>
            <input type="submit" value="Login" class="btn btn-outline-success" />
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .login-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

        .login-container h3 {
            text-align: center;
            margin-bottom: 20px;
        }

        .login-container form .form-group label {
            font-weight: bold;
        }

        .login-container form .form-group .input-group {
            position: relative;
        }

        .login-container form .form-group .input-group-prepend {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 10px;
        }

        .login-container form .form-group input {
            padding-left: 40px;
        }

            .login-container form .form-group input[type="submit"] {
                width: 48%;
            }

        .login-container form .form-group .register-button {
            width: 48%;
        }

        .login-container .button-container {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        .login-container .register-link {
            text-align: center;
            margin-top: 20px;
        }

    .icon {
        margin-right: 5px;
    }
</style>
